pandas==2.2.2
nibabel==5.2.1
nilearn==0.10.4
numpy==1.26.4
matplotlib==3.8.4
seaborn==0.11.0
scipy==1.13.1
ipykernel==6.29.3
ipython==8.25.0
plotly==5.22.0
pybids==0.16.5
python==3.12.3
treelib==1.7.0
pytest==8.2.2